<html>
 <head>
	  <style type="text/css">
		table, td, th
		{
			border:1px solid #CEDFF5;
		}
		th
		{
			height:20px;
			background-color:#CEDFF5;
			color:#15428B;
		}
		table
		{
			width:70%;
		}
		td
		{
			font-family:Tahoma;
			font-size:13px;
			height:20px;
			text-align:center;
		}
		h4{
			font-family:Tahoma;
			font-size:15px;
			font-style:bold;
			color:#15428B;
		}
		div{
			font-family:Tahoma;
			font-size:17px;
			font-style:bold;
			color:#15428B;
		}
	  </style>
	</head>
	<body>
	<h4>Report for week ending: &nbsp; ${date} </h4>
	<div>Car Summary </div><br/>
	<table> 
		<tr>
			<th>GMM Name</th> 
			<th> # of Late CARS</th>
			<th> # of SKU's</th>
		</tr>
		<tr>
			<td>$gmmName</td> 
			<td>$gmmCarCount</td>
			<td>$gmmSkuCount</td>
		</tr>
	</table>
	<br/>
	      <TABLE>
	      	<tr>
	      		 <th width="25%">DMM Name</th> 
	      		 <th width="25%"> # of Late CARS</th>    
	      		 <th width="25%"> # of SKU's</th> 	
	      	</tr>
	        #foreach( $dmm in $dmmList )
	          <TR>
	            <td width="25%">$dmm.dmmName</td>
	            <td width="25%">$dmm.dmmCarCount</td>
	            <td width="25%">$dmm.dmmSkuCount</td>
	          </TR>
	          #set( $dmmCount = $dmmCount + 1 )  
	        #end
	     </TABLE>
	<br/>	
		 <TABLE>
		      	<tr>
		      		 <th width="25%">Buyer Name</th> 
	      		 	 <th width="25%"> # of Late CARS</th> 
	      		 	 <th width="25%"> # of SKU's</th> 
		      	</tr>
			#foreach ( $dmm in $dmmList )
		
		 		#foreach( $b in $dmm.buyerList )
			  
		          <TR>
		            <td width="25%">$b.firstName $b.lastName</td>
	                <td width="25%">$b.buyerCarCount</td>
	                <td width="25%">$b.buyerSkuCount</td>
		         </TR>
		        #end
		    #end
	    </TABLE>
	   <table width="100%" bgcolor="#CEDFF5" cellpadding="10">
		<tr align="left">
			<td align="left">
				<img src="https://cars.belk.com/images/logo.gif"
			</td>
		</tr>
	  </table>		
	
	</body>
</html>